<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SEQ Error</title>
  </head>
  <body>
    <h1>Ups - there was an error!</h1>
    <p>Status Code: <strong id="error-status"><%= status %></strong></p>
    <p>Message: <span id="error-message"><%= message %></span></p>
    <% if(stack) { %>
      <h2>Stacktrace</h2>
      <p><%- stack %></p>
    <% } %>
    <div>
      <a href="/">Back to home.</a>
    </div>
  </body>
</html>