<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SEQ</title>
  </head>
  <body>
    <h1>Just Sequences</h1>
    <div>
      <p>Reliable sequence increments.</p>
      <p>One by one.</p>
      <p>No clashes.</p>
      <p>Guaranteed.</p>
    </div>
    <div>
      <p>Currently we serve <%= count %> sequences.</p>
    </div>
    <div>
      <form method="POST" action="new">
        <button type="submit">Create Sequence</button>
      </form>
    </div>
  </body>
</html>