<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SEQ <%= id %></title>
  </head>
  <body>
    <h1>Sequence <%= id %></h1>
    <div>
      <p>Currently at <strong><%= counter %></strong></p>
    </div>
    <div>
      <p>Refresh this page to increment.</p>
      <p>Share the link!</p>
    </div>
    <div>
      <a href="/">Back to home.</a>
    </div>
  </body>
</html>